<form [formGroup]="formulario" action="" class="contendor-componente bg-light my-3 p-3 border rounded">
  <!-- Filtrar -->
  <h2 class="contendor-fijo">Sedes</h2>
  <div class="form-group form-row col-12 m-0 p-0">
    <div class="input-group">
      <div class="input-group-prepend">
        <span class="input-group-text"> <i class="fa-solid fa-filter"></i></span>
      </div>
          <input  formControlName="tipopagpadministracionid" type="text" 
                  class="form-control lista-despegable" placeholder="Ingrese texto a filtrar"
                  (input)="filtrarOpciones($event)"
          >
    </div>
  </div>

  <!-- Encabezados de Columna -->
  <div class="form-row mb-2 border-1 mt-2">
    <div class="col-10 d-flex align-items-center font-weight-bold">
      <div class="texto-lista-item">Descripción</div>
    </div>
  </div>

  <!-- Filas de Datos -->
  <div class="contendor-resultados mb-4">
      <div class="form-row mb-2 border-1 contenedor-item-registro" *ngFor="let item of items">
          <div class="col-10 d-flex align-items-center" (dblclick)="adicionarRegistro(item)">
            <div class="texto-lista-item">{{item.nombre}}</div>
          </div>
        </div>
  </div>


  <div class="col-12 p-0">
    <form [formGroup]="formularioasociado" class="popup-form bg-light my-0 p-3 border rounded mx-0"> 
      <div class="d-flex justify-content-between align-items-center mb-1">
        <h2 class="mb-0">Sede Relacionadas</h2>
        <h4> {{itemsSedes.length }}</h4>
      </div>

      <div class="mb-2">
        <div class="contendor-resultados">
          <div class="form-row mb-2 border-1 contenedor-item-registro contenedor-item-registro2" *ngFor="let itemSede of itemsSedes">
              <div class="row">
                  <div class="col-12 d-flex align-items-center" (dblclick)="eliminarRegistro(itemSede)">
                      <div class="texto-lista-item">{{itemSede.nombreSede }}</div>
                  </div>
              </div>
          </div>
        </div>
      </div>
    </form>
  </div>

</form>