
.titulo-principal{
    text-align: left;
    font: normal normal 600 24px/36px Montserrat;
    color: #004884;
}

.titulo-secundario{
    text-align: left;
    font: normal normal 600 20px/36px Montserrat;
    color: #004884;
}

.descripcion{
    text-align: left;
    font: normal normal normal 16px/24px Work Sans;
    color: #4B4B4B;
}

.descripcion-titulo-principal{
    margin-bottom: 1rem;
}

.descripcion-titulo-secundario{
    margin-bottom: 2.5rem;
}

.texto-negrilla{
    font: normal normal 500 16px/22px Work Sans;
    color: #4B4B4B;
}

.horizontal-line {
    border-top: 1px solid #BABABA; 
    width: 100%; 
  }


