
<div class="popup-container" *ngIf="isOpen">
    <div class="row justify-content-center">
      <form [formGroup]="form" class="bg-light my-0 p-3 border rounded popup-form"> 
          <h2 class="mb-0">Formulario de registro de contrato</h2>
          
          <div class="form-row mb-1">
            <h4 class="col-12 text-info mb-2">
              <span class="fa-stack h6 mb-0">
                <i class="fas fa-circle fa-stack-2x"></i>
                <i class="fas fa-user fa-stack-1x fa-inverse"></i>
              </span>
              Informacion Del Tercero
            </h4>

            <div class="form-group col-12 col-sm-6 col-md-4">
              <label for="identificacion" data-toggle="tooltip" data-placement="bottom" title="NIT o Num. Cedula">
                Identificación
              </label>

              <input type="text" formControlName="identificacion" id="identificacion" name="identificacion" class="form-control"
                placeholder="Ejem: 1065998123">
            </div>
            

            <div class="form-group col-12 col-sm-12 col-md-8">
              <label for="razonsocial">Tercero</label>
              <input type="text" formControlName="razonsocial"  id="razonsocial" name="razonsocial" class="form-control"
               placeholder="Ejem: Representaciones MAS">
            </div>

            <div class="form-group col-12 col-sm-6 col-md-6">
              <label for="email">Email</label>
              <input type="email" formControlName="email"  id="email" name="email" class="form-control"
               placeholder="Ejem: usuario@gmail.com">
            </div>

            <div class="form-group col-12 col-sm-6 col-md-6">
              <label for="telefono">Telefono</label>
              <input type="text" formControlName="telefono"  id="telefono" name="telefono" class="form-control"
               placeholder="Ejem: (096) 315 6789">
            </div>
          </div>

          <div class="form-row mb-1">
            <h4 class="col-12 text-info mb-2">
              <span class="fa-stack h6 mb-0">
                <i class="fas fa-circle fa-stack-2x"></i>
                <i class="fas fa-user fa-stack-1x fa-inverse"></i>
              </span>
              Informacion Del Contrato
            </h4>

            <div class="form-group col-12 col-sm-4 col-md-4">
              <label for="documentonumero">Documento</label>
              <input type="text" formControlName="documentonumero"  id="documentonumero" name="documentonumero" class="form-control"
               placeholder="Ejem: 2023-1201">
            </div>

            <div class="form-group col-12 col-sm-4 col-md-4">
              <label for="valor">Valor Total</label>
              <input  type="text" formControlName="valor" id="valor" name="valor" class="form-control"
                placeholder="Ejem: 1,000,000"   (input)="actualizarValorFormateado()"
              />
              <div>{{ valorFormateado }}</div>
            </div>

            <div class="form-group col-4">
              <label for="estado">&nbsp;</label>
              <div class="d-flex align-items-center contenedor-checkbox">
                  <label for="estado" class="m-0 pt-1">Estado</label>
                  <div class="d-flex align-items-center">
                      <input type="checkbox" formControlName="estado" id="estado" name="estado" class="form-check-input ml-2">
                  </div>
              </div>
            </div>

            <div class="form-group col-12 col-sm-12">
              <label for="linksecop">Link Contrato</label>
              <input type="text" formControlName="linksecop" id="linksecop" name="linksecop" class="form-control"
               placeholder='Ejem: https://www.contratos.gov.co/consultas/detalleProceso.do?numConstancia=23-11-13777985'>
            </div>

          </div>

          <div class="form-row mb-1">
            <h4 class="col-12 text-info mb-2">
              <span class="fa-stack h6 mb-0">
                <i class="fas fa-circle fa-stack-2x"></i>
                <i class="fas fa-calendar-alt fa-stack-1x fa-inverse"></i>
              </span>
              Fecha Del Contrato 
            </h4>

            <div class="col-12 col-md-4">
                <div class="form-row">
                  <div class="form group col-12 col-sm-2 col-md-12">
                    <label for="fechainicio">Fecha inicio</label>
                      <div class="input-group">
                        <input type="text" formControlName="fechainicio" id="fechainicio" name="fechainicio" 
                              class="form-control"        placeholder="Ejem: 01/01/2022">
                      </div>
                  </div>

                  <div class="form group col-12 col-sm-2 col-md-12">
                    <label for="fechafinal">Fecha final</label>
                      <div class="input-group">
                          <input type="text" formControlName="fechafinal" id="fechafinal" name="fechafinal" 
                                class="form-control"         placeholder="Ejem: 30/11/2022">

                                <!-- <div class="input-group-append" for="fechafinal">
                                  <span class="input-group-text"> <i class="far fa-calendar-alt fa-sm"></i></span>
                                </div> -->
                      </div>
                  </div>
                </div>
            </div>

            <div class="col-12 col-md-8">
             <div class="form-row">
              <label for="notas">Comentarios</label>
              <textarea name="notas" formControlName="notas" id="notas"  rows="4" class="form-control"
              placeholder="Texto referente a la actividad"></textarea>
             </div>
            </div>
            </div>

            <div class="form-row mb-1">
           
              <div class="form-group col-6">
                <label for="">Fecha registro</label>
                <input type="text" formControlName="fecharegistro" id="fecharegistro" nombre="fecharegistro" class="form-control" placeholder="Ejem: 18/12/2023" readonly>
              </div>
  
              <div class="form-group col-6">
                  <label for="">Fecha modificación</label>
                  <input type="text" formControlName="fechaModificacion" id="fechaModificacion" name="fechaModificacion" class="form-control" placeholder="Ejem: 25/12/2023" readonly>
              </div> 

          </div>

            <div class="form-row mb-1">
              <div class="col-12 col-md-3">
                <button type="submit" class="btn btn-primary btn-block my-1"
                (click)="onAccept()">
                  <i class="fas fa-location-arrow pr-1"></i>Enviar</button>
              </div>

              <div class="col-12 col-md-3">
                <button type="reset" class="btn btn-secondary btn-block  my-1"
                  (click)="onCancel()">
                  <i class="fas fa-times pr-1"></i>Cancelar</button>
              </div>
            </div>

      </form>
    </div>
</div>
