<section id="detalle-encabezado" class="d-none d-md-block py-3">
  <div class="container">
      <div class="row justify-content-md-between align-items-md-center">
          <nav id="menu-navegacion" class="navbar navbar-dark bg-secondary navbar-expand-md">
              <div class="container">

                 <button type="button" class="navbar-toggler" data-toggle="collapse"  data-target="#menu-principal"
                  aria-expanded="false" aria-label="Botón menu principal">
                  <span class="boton-menu"></span>
                </button>

                <a routerLink="/menu-usuario" class="btn btn-primary order-md-1">Seguimiento</a>

                <div class="collapse navbar-collapse id" id="menu-principal">
                  <ul class="navbar-nav mt-3 mt-md-0">
                    <li class="nav-item mb-1 mb-md-0 mr-md-1"> <a routerLink="/home" class="nav-link active">Inicio</a> </li>
                    <li class="nav-item mb-1 mb-md-0 mr-md-1 dropdown"> 
                      <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" 
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Seguridad
                      </a>
                      <!-- <a routerLink="/home/security" class="nav-link">Seguridad</a>  -->
                      <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="#">Usuarios</a>
                        <a class="dropdown-item" href="#">Roles</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="#">Menu</a> 
                        <a class="dropdown-item" href="#">Menu Roles</a> 
                    </div>

                    </li>
                    <li class="nav-item mb-1 mb-md-0 mr-md-1 dropdown">
                      <!-- <a routerLink="/home/parameters" class="nav-link">Parámetros</a> -->
                      <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" 
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Parametros
                      </a>
                      <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a routerLink="/home/parameters/tipo-pago-admon" class="dropdown-item">Tipo Pago Admon</a>
                        <div class="dropdown-divider"></div>
                        <a routerLink="/home/parameters/tipo-empresa" class="dropdown-item">Empresa Tipo</a>
                        <a routerLink="/home/parameters/tipo-empresa-nivel" class="dropdown-item">Empresa Nivel</a>
                        <a routerLink="/home/parameters/tipo-empresa-sector" class="dropdown-item">Empresa Sector</a>
                        <a routerLink="/home/parameters/tipo-obligacion" class="dropdown-item">Empresa Tipo Obligaciones</a>
                        <a routerLink="/home/parameters/tipo-concepto-facturacion" class="dropdown-item">Empresa Concepto Facturación</a>  
                        <a routerLink="/home/parameters/entidad" class="dropdown-item">Empresa</a>
                        <div class="dropdown-divider"></div>
                        <a routerLink="/home/parameters/tipo-inmueble" class="dropdown-item">Tipo Inmueble</a>
                        <a routerLink="/home/parameters/tipo-tarifa" class="dropdown-item">Tipo Tarifas</a>  
                        <a routerLink="/home/parameters/tipo-canal-envio-facturacion" class="dropdown-item">Tipo Canal Envio Facturación</a> 
                        <a routerLink="/home/parameters/tipo-vinculacion-contractual" class="dropdown-item">Tipo Vinculacion Contractual</a>                 
                        <div class="dropdown-divider"></div>
                        <a routerLink="/home/parameters/sede" class="dropdown-item">Sede</a>
                        <div class="dropdown-divider"></div>
                        <a routerLink="/home/parameters/coordinador" class="dropdown-item">Coordinadores</a>
                        <div class="dropdown-divider"></div>
                        <a routerLink="/home/parameters/factura-listado" class="dropdown-item">Listado Factura</a>                    
                    </div>
                    </li>
                    <li class="nav-item mb-1 mb-md-0 mr-md-1"><a routerLink="/home/reports" class="nav-link">Nuestra App</a></li>
                    <li class="nav-item mb-1 mb-md-0 mr-md-0"><a routerLink="/home" class="nav-link">Contacto</a></li>
                  </ul>
                </div>
              </div>
            </nav>
      </div>
    </div>
  </section>




<router-outlet></router-outlet>
  
