<div class="container">
    <div class="row">
        <form action="" class="contendor-componente bg-light my-3 p-3 border rounded">
            <h2 class="mb-4">Buscador</h2>
            <app-banner-buscador></app-banner-buscador>
            <div class="form-row mb-2 border-1 contenedor-item-registro" *ngFor="let item of items">
                <div class="col-10 " >
                    <div class="texto-lista-item">{{item.descripcion}}</div>
                </div>
                <div class="col-2">
                    <i (click)="editar(item)" class="far fa-edit fa-lg text-info cursor-pointer" ></i>
                    <i *ngIf="item.estado"    (click)="eliminar(item.id)"  class="far fa-trash-alt fa-lg ml-1 text-danger cursor-pointer"></i>
                    <i *ngIf="!item.estado"   class="far fa-trash-alt fa-lg ml-1 black-icon"></i>
                </div>
            </div>
        </form>
    </div>
</div>