<div class="container">
    <div class="row justify-content-center">
        <h2 class="display-1 my-1">Formulario Tipo Canales de Envio Facturacion</h2>
        <div class="col-12 col-md-3">
            <app-comp-listar [endPoint]="endPointRuta">Listar</app-comp-listar>
        </div>
        <div class="col-12 col-md-4">
            <app-tipo-canal-envio-facturacion-registrar></app-tipo-canal-envio-facturacion-registrar>
        </div>
        <div class="col-12 col-md-5">
        </div>
    </div>
</div>

