.body {
    font-size: 10px;
}

.popup-form {
  max-width: 30rem;
  margin: 0 auto;
  padding: 10px;
  height: 40rem;
  overflow-y: hidden;
  min-width: 30rem;
  min-height: 35rem;
  }
  
  /* Estilo para los campos de entrada */
  .popup-form input[type="text"],
  .popup-form input[type="email"],
  .popup-form textarea {
    // width: 100%;
    padding: 2px;
    margin-bottom: 2px; /* Espacio entre los campos */
  }
  
  /* Estilo para los botones */
  .popup-form button {
    // width: 100%; 
    // margin-right: 50%; 
  }
  
  /* Alinea los botones a la derecha */
  .popup-form .form-row {
    justify-content: flex-start;
  }
  
  /* Añade estilos específicos para títulos */
  .popup-form h2,
  .popup-form h4 {
    margin-top: 5px; /* Espacio superior para títulos */
    margin-bottom: 5px; /* Espacio inferior para títulos */
  }
  
  /* Estilo para el contenedor del formulario */
  .popup-container {
    background-color: rgba(255, 255, 255, 0.9); /* Fondo semitransparente para el popup */
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 9999; /* Asegura que el popup esté por encima de otros elementos */

  }
  

  .popup-form label {
    margin-bottom: 0.1rem;
  }


  .btn-floating {
    border-radius: 50%;
    color: black;
    border: 0px;
    width: 30px;
    height: 30px;
    text-align: center;
    font-size: 14px;
    font-weight: 600;
    cursor: pointer;
}

.btn-floating:hover {
  color:  #00ad75;;
}

.popup-body{
    height: 27rem;
    overflow: hidden;
    overflow-y: hidden;
}

.form-select-sm {
  font-size: 1rem;
}


/* -------------------------------------------
 2. ESTILO CONTENDOR
 ---------------------------------------------*/
 .contendor-componente{
  height: 35.75rem;
}

/* -------------------------------------------
2. ESTILO LISTA DE ITEM
---------------------------------------------*/
.contenedor-item-registro {
  background-color: white;
  border: 1px solid #cdbebe;
  padding: 1px;
  border-radius: var(--bs-border-radius);
  z-index: 1;
  -webkit-transition: all .5s ease;
  transition: all .5s ease;
  overflow: hidden; }


  .contenedor-item-registro2 {
    border: 1px solid #03800b !important;
 }


.contenedor-item-registro:hover {
  color: #35363c;
  background-color: #F6F8F9;
  border-color: #17a2b8; 
}

.contenedor-item-registro:active {
  color: #35363c !important;
  background-color: #17a2b8 !important;
  border-color: #17a2b8 !important; }

.contenedor-item-registro:focus {
  background-color: #35363c;
  color: #35363c !important;
  -webkit-box-shadow: 0 0 0 0.2rem rgba(4, 85, 235, 0.5) !important;
  box-shadow: 0 0 0 0.2rem rgba(4, 85, 235, 0.5) !important; }

.texto-lista-item {
  display: block;
  width: 100%;
  padding: 0.2rem 0.5rem;
  font-size: 1rem;
  line-height: 1.2;
  -webkit-appearance: none;
  appearance: none;
  background-clip: padding-box;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  min-height: 1.8rem; 
}
 
.black-icon {
color: rgb(63, 62, 62);  }

.cursor-pointer {
  cursor: pointer;  }

.contendor-componente {
position: relative;
}

.contendor-resultados {
max-height: 28.625rem; 
overflow-y: auto; 
overflow-x: hidden;
scrollbar-width: thin;
}

.contendor-fijo {
position: sticky;
top: 0;
z-index: 3; 
}

.contendor-resultados::-webkit-scrollbar {
width: 8px; 
}

.contendor-resultados::-ms-scrollbar {
width: 8px; 
}

.form-row {
  margin-right: 5px; 
  margin-left: 0px; 
}

/* Estilo para navegadores basados en WebKit (Chrome y Safari) */
.contendor-resultados::-webkit-scrollbar-thumb {
background-color: rgb(63, 63, 65); 
border-radius: 10px; 
}

/* Estilo para Internet Explorer y Microsoft Edge */
.contendor-resultados::-ms-thumb {
background-color: rgb(63, 63, 65); 
border-radius: 10px; 
}


.close-button {
  background: gray;
  border-radius: 0px;
}

.contendor-total{
  background: #fff;
}