<!-- <section id="contacto">
    <div class="container">
    <h2> Registrar factura</h2>
      <div class="row py-5">
        <div class="col-12 col-lg-6">
            <h2 class="font-weight-bold text-center mb-2">Sede:</h2>
            <ul class="list-unstyled">
              <li class="d-flex border-bottom py-4"> 
                <i class="fas fa-globe fa-3x text-primary mr-3 fa-fw "></i>
                <div>
                  <h5 class="font-weight-bold">Entidad</h5>
                  <p mb-0>Selecccionar la entidad</p>
                </div>
              </li>
              
              <li class="d-flex border-bottom py-4"> 
                <i class="fas fa-mobile-alt fa-3x text-warning mr-3 fa-fw "></i>
                <div>
                  <h5 class="font-weight-bold">Telefonos</h5>
                  <p mb-0>(+511) 388-7813, (+511) 388-7138</p>
                </div>
              </li>

              <li class="d-flex border-bottom py-4"> 
                <i class="fas fa-envelope-open fa-3x text-danger mr-3 fa-fw "></i>
                <div>
                  <h5 class="font-weight-bold">Email</h5>
                  <p mb-0>info@aulavirtuales.com</p>
                </div>
              </li>

              <li class="d-flex border-bottom py-4"> 
                <i class="fab fa-skype fa-3x text-info mr-3 fa-fw "></i>
                <div>
                  <h5 class="font-weight-bold">Skype</h5>
                  <p mb-0>SonrisaOnline</p>
                </div>
              </li>

            </ul>
        </div>
       
     

        <div class="col-12 col-lg-6 pt-4 pt-lg-0">
          <h2 class="font-weight-bold text-center mb-2">Separa una cita:</h2>
          <form action="#" id="mi-formulario" >

           
            <div class="form-group form-row">
              <label for="nombre" class="col-form-label col-12 col-md-3">Nombre:</label>
              <div class="col-12 col-md-9">
                <input type="text" class="form-control" id="nombre" name="nombre" placeholder="Ingrese su nombre" 
                  data-parsley-required
                  data-parsley-required-message="Este campo no puede estar vacio"
                  data-parsley-length-message="El numero telefonico debe tener entre 5 y 20 caracteres">
              </div>
            </div>


      
             <div class="form-group form-row">
              <label for="email" class="col-form-label col-12 col-md-3">Email:</label>
              <div class="col-12 col-md-9">
                <input type="email" class="form-control" id="email" name="email" placeholder="Ingrese su email" 
                data-parsley-required data-parsley-type="email"
                data-parsley-type="email"
                data-parsley-required-message="Este campo no puede estar vacio"
                >
              </div>
            </div>

  
              <div class="form-group form-row">
                <label for="celular" class="col-form-label col-12 col-md-3">Celular:</label>
                <div class="col-12 col-md-9">
                  <input type="text" class="form-control" id="celular" name="celular" placeholder="Ingrese su celular" 
                  data-parsley-required
                  data-parsley-length="[5, 20]"
                  data-parsley-required-message="Ingrese un email con formato valido"
                  >
                </div>
              </div>


           
                 <div class="form-group form-row">
                  <label for="mensaje" class="col-form-label col-12 col-md-3">Mensaje:</label>
                  <div class="col-12 col-md-9">
                    <textarea id="mensaje" name="mensaje"  rows="4" class="form-control"></textarea>
                  </div>
                </div>


                  <div class="form-group form-row">
                    <label for="fecha-cita" class="col-form-label col-12 col-md-3">Fecha:</label>
                    <div class="col-12 col-md-9">
                      

                      <div class="input-group">
                        <input type="date" id="fecha-cita" name="fecha-cita" class="form-control datepicker" 
                        d data-parsley-required
                        data-parsley-required-message="Este campo no puede estar vacio"
                        data-parsley-errors-container=".error-fecha-cita"
                        >
                        <label class="input-group-append input-group-cita" for="fecha-cita">
                          <span class="input-group-text"><i class="far fa-calendar-alt"></i></span>
                        </label>
                      </div>
                      <div class="error-fecha-cita">

                      </div>
                    </div>
                  </div>

           
                   <div class="form-group form-row">
                    <label for="dia" class="col-form-label col-12 col-md-3">Dia:</label>
                    <div class="col-12 col-md-9">
                      

                      <div class="input-group">
                        <input type="text" id="dia-cita" name="dia-cita" class="form-control timepicker" 
                        d data-parsley-required
                        data-parsley-required-message="Este campo no puede estar vacio"
                        data-parsley-errors-container=".error-dia-cita"
                        >
                        <label class="input-group-append input-group-cita" for="dia-cita">
                          <span class="input-group-text"><i class="far fa-clock"></i></span>

                        </label>
                      </div>
                      <div class="error-dia-cita">

                      </div>
                    </div>
                  </div>



                  <div class="form-group form-row">
                    <div class="col-12 col-md-9 offset-md-3">
                      <button type="submit" class="btn btn-primary btn-block btn-lg">
                          Enviar
                      </button>
                    </div>
                  </div>



          </form>

        </div>

      </div>
    </div>




</section> -->



<div class="container">
    <div class="row justify-content-center">
         <form [formGroup]="form" class="bg-light my-3 p-3 border rounded">
             <h2 class="mb-4">Formulario de registro</h2>
 
             <div class="form-row mb-3">
                 <h4 class="col-12 text-info mb-3">
                     <span class="fa-stack h5 mb-0">
                         <i class="fas fa-circle fa-stack-2x"></i>
                         <i class="fa-solid fa-house fa-stack-1x fa-inverse"></i>
                     </span>
                     Información de la factura
                 </h4>
 
                 <div class="form-group col-4">
                     <label for="">Id</label>
                     <input type="text" formControlName="id" id="id" nombre="id" class="form-control"
                             placeholder="Ejem: 10" readonly>
 
                 </div>
 
                 <div class="form-group col-4">
                  <label for="sedeId">Sede</label>
                  <select formControlName="sedeId" id="sedeId" nombre="sedeId" 
                          class="form-control" (change)="onSede($event)">
                    <option value="0">Seleccione sede</option>
                    
                    <ng-container *ngFor="let sede of tipoSede">
                      <option [value]="sede.id">{{ sede.nombre }}</option>
                    </ng-container>
                  </select>
                </div>

                 <div class="form-group col-4">
                  <label for="entidadId">Entidad</label>
                  <select formControlName="entidadId" id="entidadId" nombre="entidadId" 
                          class="form-control" (change)="onEntidad($event)">
                    <option value="0">Seleccione Entidad</option>
                    
                    <ng-container *ngFor="let entidad of entidades">
                      <option [value]="entidad.id">{{ entidad.nombre }}</option>
                    </ng-container>
                  </select>
                </div>


                 <div class="form-group col-4">
                     <label for="nombre">Factura numero</label>
                     <input type="text" formControlName="nombre" id="nombre" nombre="nombre" class="form-control"
                             placeholder="Ejem: Empresa de servicios publicos Valledupar - Emdupar">
                 </div>

                 <div class="form-group col-4">
                    <label for="direccion">Referencia pago</label>
                    <input type="text" formControlName="direccion" id="direccion" nombre="direccion" class="form-control"
                            placeholder="Ejem: ">
                </div>

                <div class="form-group col-4">
                  <label for="direccion">No Contrato</label>
                  <input type="text" formControlName="direccion" id="direccion" nombre="direccion" class="form-control"
                          placeholder="Ejem: ">
                </div>

                <div class="form-group col-4">
                  <label for="nombre">Fecha Emision</label>
                  <input type="text" formControlName="nombre" id="nombre" nombre="nombre" class="form-control"
                          placeholder="Ejem: 11/12/2022">
                </div>

                <div class="form-group col-4">
                  <label for="direccion">Fecha Oportuna Pago</label>
                  <input type="text" formControlName="direccion" id="direccion" nombre="direccion" class="form-control"
                          placeholder="Ejem: 11/12/2022">
                </div>

                <div class="form-group col-4">
                  <label for="direccion">Fecha suspension</label>
                  <input type="text" formControlName="direccion" id="direccion" nombre="direccion" class="form-control"
                          placeholder="Ejem: 11/12/2022">
                </div>

                <div class="form-group col-4">
                  <label for="nombre">Valor</label>
                  <input type="text" formControlName="nombre" id="nombre" nombre="nombre" class="form-control"
                          placeholder="Ejem: $213,000">
                </div>

                <div class="form-group col-8">
                  <label for="direccion">Observacion</label>
                  <input type="text" formControlName="direccion" id="direccion" nombre="direccion" class="form-control"
                          placeholder="Ejem: ">
                </div>

                <div class="form-group col-12">
                  <label for="" class="sr-only">Archivo:</label> <!-- Oculta la etiqueta -->
                  <div class="input-group">
                      <div class="input-group-prepend"><span class="input-group-text">Archivo adjunto:</span></div>
                      <input type="text" class="form-control" id="precio" name="precio">
                  </div>
                </div>

                <h4 class="col-12 text-info mb-3">
                  <span class="fa-stack h5 mb-0">
                      <i class="fas fa-circle fa-stack-2x"></i>
                      <i class="fas fa-calendar-alt fa-stack-1x fa-inverse"></i>
                  </span>
                  Información Última Factura
              </h4>

              <div class="form-group col-6">
                <label for="" class="sr-only">Fecha:</label> <!-- Oculta la etiqueta -->
                <div class="input-group">
                    <div class="input-group-prepend"><span class="input-group-text">Fecha:</span></div>
                    <input type="text" class="form-control" id="precio" name="precio" readonly>
                </div>
              </div>

              <div class="form-group col-6">
                <label for="" class="sr-only">valor:</label> <!-- Oculta la etiqueta -->
                <div class="input-group">
                    <div class="input-group-prepend"><span class="input-group-text">Valor:</span></div>
                    <input type="text" class="form-control" id="precio" name="precio" readonly>
                </div>
              </div>

             
                  <div class="form-group col-3">
                    <label for="">Usuario</label>
                    <input type="text" formControlName="usuarioId" id="usuarioId" name="usuarioId" class="form-control"
                            placeholder="Ejem: usuario" readonly>
                  </div>

                 <div class="form-group col-3">
                     <label for="estado">&nbsp;</label>
                     <div class="d-flex align-items-center contenedor-checkbox">
                         <label for="estado" class="m-0 pt-1">Estado</label>
                        <span> <div class="d-flex align-items-center">
                            <input type="checkbox" formControlName="estado" id="estado" name="estado" class="form-check-input ml-2">
                        </div></span>
                     </div>
                 </div>
                 
                 <div class="form-group col-3">
                     <label for="fecharegistro">Fecha registro</label>
                     <input type="text" formControlName="fecharegistro" id="fecharegistro" nombre="fecharegistro" class="form-control"
                             placeholder="Ejem: 18/12/2023" readonly>
 
                 </div>
 
                 <div class="form-group col-3">
                     <label for="fechamodificacion">Fecha modificación</label>
                     <input type="text" formControlName="fechamodificacion" id="fechamodificacion" name="fechamodificacion" class="form-control"
                             placeholder="Ejem: 25/12/2023" readonly>
                 </div>           
             </div>
 
             <div class="form-row mb-3">
                 <div class="col-12 col-md-3">
                     <button type="reset" class="btn bg-success btn-block my-1">
                       <i class="fa-solid fa-plus pr-2"></i>Nuevo</button>
                   </div>
 
                   <div class="col-12 col-md-3">
                     <button type="submit" class="btn btn-primary btn-block my-1" (click)="GuardarRegistro()" [disabled]="form.invalid">
                         <i class="fas fa-location-arrow pr-2"></i>Enviar
                     </button>
                 </div>
 
                 <div class="col-12 col-md-3">
                   <button type="reset" class="btn btn-secondary btn-block  my-1">
                     <i class="fas fa-times pr-2"></i>Cancelar</button>
                 </div>

                 <div class="col-12 col-md-3">
                    <button type="reset" class="btn btn-info btn-block  my-1" (click)="openPopup()">
                      <i class="fas fa-times pr-2"></i>Concepto Facturación </button>
                  </div>


               </div> 
         </form>
    </div>
 </div>
 
 <app-entidad-poppup [entidadid]='idRegistro' ></app-entidad-poppup>
