<div class="container">
  <div class="row justify-content-center">
    <form [formGroup]="registerInvoiceForm" (ngSubmit)="guardarRegistro()" class="bg-light my-3 p-3 border rounded">
      <h2 class="mb-4">Formulario de registro</h2>

      <div class="form-row mb-3">
        <h4 class="col-12 text-info mb-3">
          <span class="fa-stack h5 mb-0">
            <i class="fas fa-circle fa-stack-2x"></i>
            <i class="fa-solid fa-house fa-stack-1x fa-inverse"></i>
          </span>
          Información de la factura
        </h4>

        <div class="form-group col-4">
          <label for="">Id</label>
          <input type="text" formControlName="id" id="id" name="id" class="form-control" placeholder="Ejem: 10"
            readonly />
        </div>

        <div class="form-group col-4">
          <label for="sedeId">Sede</label>
          <div class="input-group">
            <div class="input-group-prepend">
              <span class="input-group-text"> <i class="fa-solid fa-chevron-down"></i></span>
            </div>
            <select formControlName="sedeId" id="sedeId" name="sedeId" class="form-control" (change)="onSede($event)">
              <option value="0">Seleccione sede</option>

              <ng-container *ngFor="let sede of sedes">
                <option [value]="sede.sedeId">{{ sede.nombreSede}}</option>
              </ng-container>
            </select>
        </div>
        </div>

        <div class="form-group col-4">
          <label for="entidadId">Entidad</label>

          <div class="input-group">
            <div class="input-group-prepend">
              <span class="input-group-text"> <i class="fa-solid fa-chevron-down"></i></span>
            </div>

            <select formControlName="entidadId" id="entidadId" name="entidadId" class="form-control"
              (change)="onEntidad($event)">
              <option value="0">Seleccione Entidad</option>

              <ng-container *ngFor="let entidad of entidades">
                <option [value]="entidad.entidades.id">{{ entidad.entidades.nombre }}</option>
              </ng-container>
            </select>
          </div>
        </div>

        <div class="form-group col-4">
          <label for="nombre">Factura numero</label>
          <input type="text" formControlName="facturaNumero" id="facturaNumero" name="facturaNumero" class="form-control"
            autocomplete="off"/>
        </div>

        <div class="form-group col-4">
          <label for="referenciaPago">Referencia pago</label>
          <input type="text" formControlName="referenciaPago" id="referenciaPago" name="referenciaPago"
            class="form-control" autocomplete="off"/>
        </div>

        <div class="form-group col-4">
          <label for="numeroContrato">No Contrato</label>
          <input type="text" formControlName="numeroContrato" id="numeroContrato" name="numeroContrato"
            class="form-control" readonly/>
        </div>

        <div class="form-group col-3">
          <label for="fechaPeriodoFacturaInicio">Fecha Factura Inicio</label>
          <input type="date" formControlName="fechaPeriodoFacturaInicio" id="fechaPeriodoFacturaInicio" name="fechaPeriodoFacturaInicio"
            class="form-control"  autocomplete="off"/>
        </div>

        <div class="form-group col-3">
          <label for="fechaPeriodoFacturaFin">Fecha Factura Final</label>
          <input type="date" formControlName="fechaPeriodoFacturaFin" id="fechaPeriodoFacturaFin" name="fechaPeriodoFacturaFin"
            class="form-control"  autocomplete="off" />
        </div>

        <div class="form-group col-3">
          <label for="fechaEmision">Fecha Emision</label>
          <input type="date" formControlName="fechaEmision" id="fechaEmision" name="fechaEmision" 
               class="form-control" autocomplete="off"  />
        </div>

        <div class="form-group col-3">
          <label for="fechaOportunoPago">Fecha Oportuna Pago</label>
          <input type="date" formControlName="fechaOportunoPago" id="fechaOportunoPago" name="fechaOportunoPago"
            class="form-control" autocomplete="off" />
        </div>

        <div class="form-group col-3">
          <label for="valor">Valor de la factura</label>
          <input type="text" formControlName="valorFactura" id="valorFactura" name="valorFactura" class="form-control"
             autocomplete="off" />
        </div>

        <div class="form-group col-9">
          <label for="observacion">Observacion</label>
          <input type="text" formControlName="nota" id="nota" name="nota" class="form-control"
            autocomplete="off" />
        </div>

        <div class="form-group col-12">
          <div class="input-group">
            <div class="input-group-prepend">
              <!-- <span class="input-group-text">Archivo adjunto:</span> -->
            </div>
            <input formControlName="urlFactura" id="urlFactura" type="file" accept=".pdf" class="form-control" (change)="cambioCampoArchivo($event)" />
          </div>
        </div>

        <h4 class="col-12 text-info mb-3">
          <span class="fa-stack h5 mb-0">
            <i class="fas fa-circle fa-stack-2x"></i>
            <i class="fas fa-calendar-alt fa-stack-1x fa-inverse"></i>
          </span>
          Información Última Factura
        </h4>

        <div class="form-group col-6">
          <label for="" class="sr-only">Fecha:</label>
          <div class="input-group">
            <div class="input-group-prepend">
              <span class="input-group-text">Fecha:</span>
            </div>
            <input type="text" class="form-control" formControlName="fechaUltimoPago" id="fechaUltimoPago" name="fechaUltimoPago" readonly />
          </div>
        </div>

        <div class="form-group col-6">
          <label for="" class="sr-only">valor:</label>
          <div class="input-group">
            <div class="input-group-prepend">
              <span class="input-group-text">Valor:</span>
            </div>
            <input type="text" class="form-control" formControlName="valorFacturaUltimoPago" id="valorFacturaUltimoPago" name="valorFacturaUltimoPago" readonly />
          </div>
        </div>

        <div class="form-group col-3">
          <label for="">Usuario</label>
          <input type="text" formControlName="usuarioId" id="usuarioId" name="usuarioId" class="form-control"
            placeholder="Ejem: usuario" readonly />
        </div>

        <div class="form-group col-3">
          <label for="estado">&nbsp;</label>
          <div class="d-flex align-items-center contenedor-checkbox">
            <label for="estado" class="m-0 pt-1">Estado</label>
            <span>
              <div class="d-flex align-items-center">
                <input type="checkbox" formControlName="facturaEstadoId" id="facturaEstadoId" name="facturaEstadoId"
                  class="form-check-input ml-2" />
              </div>
            </span>
          </div>
        </div>

        <div class="form-group col-3">
          <label for="fechaRegistro">Fecha registro</label>
          <input type="text" formControlName="fechaCreacion" id="fechaCreacion" name="fechaCreacion"
            class="form-control" placeholder="Ejem: 18/12/2023" readonly />
        </div>

        <div class="form-group col-3">
          <label for="fechaModificacion">Fecha modificación</label>
          <input type="text" formControlName="fechaModificacion" id="fechaModificacion" name="fechaModificacion"
            class="form-control" placeholder="Ejem: 25/12/2023" readonly />
        </div>
      </div>

      <div class="form-row mb-3">
        <div class="col-12 col-md-3">
          <button type="reset" class="btn bg-success btn-block my-1">
            <i class="fa-solid fa-plus pr-2"></i>Nuevo
          </button>
        </div>

        <div class="col-12 col-md-3">
          <button type="submit" class="btn btn-primary btn-block my-1" [disabled]="registerInvoiceForm.invalid">
            <i class="fas fa-location-arrow pr-2"></i>Guardar
          </button>
        </div>

        <div class="col-12 col-md-3">
          <button type="reset" class="btn btn-secondary btn-block my-1">
            <i class="fas fa-times pr-2"></i>Cancelar
          </button>
        </div>

        <div class="col-12 col-md-3">
          <button type="reset"  class="btn btn-info btn-block my-1" (click)="openPopup()">
            <i class="fas fa-times pr-2"></i>Concepto Facturación
          </button>
        </div>
      </div>
    </form>
  </div>
</div>

<!-- {{entidadId}} -->
<!-- <app-sede-poppup 
[sedeid]="idRegistro" 
*ngIf="mostrarSedeContrato">
</app-sede-poppup> -->
<app-factura-poppup-registrar-detalle
      [Facturaid]= "idRegistro"
      [Entidadid]= "entidadId"
      *ngIf="mostrarDetallaFactura" >
</app-factura-poppup-registrar-detalle>

<!-- {entidadId} -->

<!-- <app-entidad-poppup [entidadid]="idRegistro"></app-entidad-poppup> -->